
<div class="line-container" [ngClass]="{'equal': index % 2 === 0}" >
    <div class="image"><img src="{{displayLineData.thumbImgPath}}"></div>
    <div class="id">{{displayLineData.id}}</div>
    <div class="input" *ngIf="isEditMode; else title">
      <input type="text" #box value="{{displayLineData.title}}"
             (keydown.enter)="getTitleText(box.value)">
    </div>
    <ng-template #title>
      <div class="title" >{{displayLineData.title}}</div>
    </ng-template>
    <div class="album-id">{{displayLineData.albumId}}</div>
    <div class="controls">
      <div class="delete" (click)="action('delete')"></div>
      <div class="edit" (click)="action('edit')"></div>
    </div>
</div>
